<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
​
    <!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,
​
      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides
​
      Thanks,
      @jlantunez.
    -->
​
    <!-- SEO -->
    <title>WebSlides: Making HTML presentations easy</title>
    <meta name="description" content="WebSlides is the easiest way to make HTML presentations, portfolios, and landings. Just essential features.">
​
    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/"> -->
​
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
​
    <!-- CSS WebSlides -->
    <link rel="stylesheet" type='text/css' href="../static/css/style.css">
    <link rel="stylesheet" type='text/css' media='all' href="static/css/webslides.css">
​
    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <!-- <link rel="stylesheet" type='text/css' media='all' href="static/css/svg-icons.css"> -->
​
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- FACEBOOK -->
    <meta property="og:url" content="http://your-url.com/"> <!-- YOUR URL -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="WebSlides — Making HTML Presentations Easy"> <!-- EDIT -->
    <meta property="og:description" content="WebSlides is about telling stories beautifully. Just the essential features. Good karma."> <!-- EDIT -->
    <meta property="og:updated_time" content="2017-01-04T17:20:50"> <!-- EDIT -->
    <meta property="og:image" content="static/images/share-webslides.jpg"> <!-- EDIT -->
​
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@webslides"> <!-- EDIT -->
    <meta name="twitter:creator" content="@jlantunez"> <!-- EDIT -->
    <meta name="twitter:title" content="WebSlides — Making HTML Presentations Easy"> <!-- EDIT -->
    <meta name="twitter:description" content="WebSlides is about good karma. Just essential features. 120+ free slides ready to use."> <!-- EDIT -->
    <meta name="twitter:image" content="static/images/share-webslides.jpg"> <!-- EDIT -->
​
    <!-- FAVICONS -->
    <link rel="shortcut icon" sizes="16x16" href="static/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="static/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="static/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="static/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="static/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="static/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="static/images/favicons/favicon-192.png">
​
    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">
​
  </head>
  <body>
    <header role="banner">
        <nav role="navigation">
          <p class="logo"><a href="index.html" title="WebSlides"></a></p>
          <ul>
            <li class="github">
              <a rel="external" href="https://github.com/shaun-huang/LA-Airbnb" title="Github">
                <svg class="fa-github">
                  <use xlink:href="#fa-github"></use>
                </svg>
                <em>WebSlides</em>
              </a>
            </li>
          </ul>
        </nav>
      </header>
​
    <main role="main">
      <article id="webslides" class="vertical">
        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->
​
        
      <section>
      <span class="background" style="background-image:url('https://livingtoroam.com/wp-content/uploads/couch-dark.jpg')"></span>
        <!--.wrap = container (width: 90%) -->
        <div class="wrap aligncenter">
          <div class="top-left"><h1 style="color:#ff5a60"><strong>Two Tigers Presents: Los Angeles Airbnb Analysis</strong></h1></div>
          <p class="text-intro" style="color:#ff5a60">Two Tigers consists of: Shaun, Jay, Anaisa, and Nehemias<br>
          </p>
          <p>
          </p>
        </div>
      <!-- .end .wrap -->
      </section>
        <section>
          <!--.wrap = container (width: 90%) -->
          <div class="wrap size-50 aligncenter">
            <p><strong>Our dataset has over 22K listings just In LA County spanning from 2008-2017</strong></p>
            <h2 style="color:#ff5a60"><strong>Hypothesis</strong></h2>
            <div class="bg-white shadow">
              <ul class="flexblock reasons">
                <li>
                  <h2>How are scores rated across neighborhoods? Is there a correlation?</h2>
                  <p>How are scores rated across neighborhoods? Is there a correlation? 
                    Do more expensively priced airbnb hosts have bad or good scores? 
                  </p>
                </li>
                <li>
                  <h2>How Popular has Airbnb become in LA & what are the product offerings?</h2>
                  <p>Tracking # of hosts increase over time & product offering types
                      </p>
                </li>
                <li>
                  <h2>Where is the best area to invest in for income stream? (most amount of people visiting)</h2>
  
                </li>
              </ul>
            </div>
            <!-- .end .bg-white shadow -->
          </div>
          <!-- .end .wrap -->
        </section>
        <section>
          <div class="wrap">
            <div class="onethird">
              <h2 style="color:#ff5a60"><strong>LA Airbnb GeoMap</strong></h2>
            </div>
            <ul class="flexblock features">
              <iframe src= "/map" style = "position: relative; top: 0; left: 150px;" height = "1000" width="1500">
              </iframe>
        </section>
        <section >
            <!-- .wrap = container (width: 90%) -->
            <div class="wrap">
                <div class="onethird">
                    <h2 style="color:#ff5a60"><strong>Listings per neighborhood</strong></h2>
                    <li class="text-intro">There was over 22k listing across LA county</li>
                    <li class="text-intro">Mid wilshire demonstrated a high number of listing</li>
                </div>
                <div id="citygraph"></div>
            </div>
            <!-- .end .wrap -->
          </section>
        <section>
          <div class="wrap">
            <div class="onethird">
              <h2 style="color:#ff5a60"><strong>Host Listings By Property Type</strong></h2>
              <li class="text-intro">Our first bar chart is our the number of listings across property type</li>
            </div>
            <div id = "property"></div>
          </div>
          <!-- .end .wrap -->
        </section>
        <section>
            <div class="wrap">
              <div class="onethird">
                <h2 style="color:#ff5a60"><strong>Host Listings Over Time</strong></h2>
                <li class="text-intro">The second bar chart is our host listings over years</li>
              </div>
              <div id = "listing"></div>
            </div>
            <!-- .end .wrap -->
          </section>
        ​  <section>
          <!--.wrap = container (width: 90%) -->
            <div class="wrap">
              <div class="grid vertical-align">
                <div class="onethird">
                  <h3 style="color:#ff5a60"><strong>Housing Price VS. Review</strong></h3>
                  <li class="text-intro">We found a correlation between rating score vs price</li>
                  <li class="text-intro">The number of reviews vs review scores was inconclusive to our hypothesis</li>
                </div>
                <!-- .end .column -->
                <div class="twothird">
                    <div id = 'house'></div>
                </div>
                <!-- .end .column -->
              </div>
              <!-- .end .grid -->
            </div>
            <!-- .end .wrap -->
        </section>
        <section>
          <!--.wrap = container (width: 90%) -->
            <div class="wrap">
              <div class="grid vertical-align">
                <div class="onethird">
                  <h3 style="color:#ff5a60"><strong>Housing Price VS. Listing Price</strong></h3>
                  <li class="text-intro">We looked at the relationship between housing price and listing price</li>
                  <li class="text-intro">The listing price and housing price are significantly correlated based on the scatterplot</li>
                </div>
                <!-- .end .column -->
                <div class="twothird">
                    <div id = 'price'></div>
                </div>
                <!-- .end .column -->
              </div>
              <!-- .end .grid -->
            </div>
            <!-- .end .wrap -->
        </section>
        <section>
          <div class="wrap">
            <div class="onethird">
              <h2 style="color:#ff5a60"><strong>Population vs Score</strong></h2>
              <li class="text-intro">We looked at city populations in LA in relation to the score received</li>
              
            </div>
            <div id="citybar"></div>
          </div>
        </section>
        <section class="aligncenter">
          <!-- .wrap = container (width: 90%) -->
          <div class="wrap">
              <div class="onethird">
                  <h2 style="color:#ff5a60"><strong>Price and Number of Reviews vs Ratings</strong></h2>
                  <li class="text-intro">We found a correlation between rating score vs price</li>
                  <li class="text-intro">The number of reviews vs review scores was inconclusive to our hypothesis</li>
              </div>
              <div id= 'chart'></div>
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="slide-bottom">
          <div class="wrap">
              <div>
                  <iframe width="960" height="680" src="https://www.youtube.com/embed/-XSAqfK_UwY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img src="https://i.ibb.co/RY30P11/Goodpic.jpg" height="900" width="900">
                <h2 style="color:#ff5a60">
                  <strong>Thanks.</strong></h2>
              </div>
            </div>
            <!-- .end .content-right -->
          </div>
          <!-- .end .wrap -->
        </section>
      </article>
      <!-- end article -->
    </main>
    <!-- end main -->
​
   <!-- A global footer
​
     <footer role="contentinfo">
      <div class="wrap">
        <p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a href="https://twitter.com/webslides">@webslides</a>.</p>
      </div>
    </footer>  -->
​
    <!-- Required -->
    <script src="static/js/webslides.js"></script>
    <script>
      window.ws = new WebSlides();
    </script>
​
    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="static/js/svg-icons.js"></script>
    <script src="../static/js/citygraph.js"></script>
​
  </body>
</html>