<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LA AirBnB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <section>
    <!-- Container will have drop down to select Zip Code, City, and Rating. It will also contain text-->
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-md-12 jumbotron text-center">
          <h1>LA AirBnB</h1>
          <p>Lets find the AirBnB ratings in Los Angeles!</p>
          <br>
          <div class="col-md-4">
            <div class="well">
              <label>Zip Code:</label>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well">
              <label>City:</label>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well">
              <label>Rating:</label>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
          </div>
            <button type="button" class="btn btn-light">Search</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="main">
      <section id="section2">
         <div class="container jumbo">
            <div class="jumbotron">
              <div id = 'map'></div>
               <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
      </section>
      </div>
   </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="./static/js/config.js"></script>
  <script src="./static/js/logic.js"></script>

</body>

</html>
